.link {
  display: flex;
  padding: 10px;
  border-radius: 5px;
  column-gap: 5px;
  font-weight: 700;

  &.disabled {
    opacity: 0.45;
    pointer-events: none;
  }

  &:hover,
  &:focus-visible {
    background-color: hsl(from var(--accent) h s l / 0.25);
    outline: unset;
  }
}