.link {
  display: flex;
  padding: 10px;
  border-radius: 5px;
  column-gap: 5px;
  font-weight: 700;
  transition: var(--btn-box-shadow-transition);
  background-color: transparent;
  border: unset;

  &.disabled {
    opacity: 0.45;
    pointer-events: none;
  }

  &:hover,
  &:focus-visible {
    box-shadow: var(--btn-box-shadow-hover);
    outline: unset;
  }
  &:active {
    box-shadow: var(--btn-box-shadow-active);
  }
}