.button {
  display: flex;
  column-gap: 5px;
  align-items: center;
  border-radius: 5px;
  border: unset;
  padding: 10px 15px;
  font-weight: 700;
  font-size: clamp(14px, 3vw, 18px);
  background-color: var(--background);
  box-shadow: 0 0 20px hsl(from var(--foreground) h s l / 0.1);
  transition: background-color 250ms ease-in-out;
  cursor: pointer;

  &:hover,
  &:focus-visible {
    background-color: hsl(from var(--accent) h s l / 0.25);
    outline: unset;
  }
}