.button {
  display: flex;
  column-gap: 5px;
  align-items: center;
  border-radius: 5px;
  border: unset;
  padding: 10px 15px;
  font-weight: 700;
  font-size: clamp(14px, 3vw, 18px);
  background-color: var(--background);
  box-shadow: var(--btn-box-shadow);
  transition: var(--btn-box-shadow-transition);
  cursor: pointer;

  &.is-large {
    padding: 15px 20px;
    font-size: clamp(20px, 5vw, 24px);
  }

  &:hover,
  &:focus-visible {
    box-shadow: var(--btn-box-shadow-hover);
    outline: unset;
  }
  &:active {
    box-shadow: var(--btn-box-shadow-active);
  }
}