.card {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .back {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 30px 0;
  }
  .front {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 30px;
    background-color: transparent;
    border: unset;
    transition: var(--btn-box-shadow-transition);
    cursor: pointer;

    &:hover,
    &:focus-visible {
      box-shadow: var(--btn-box-shadow-hover);
      outline: unset;
    }
    &:active {
      box-shadow: var(--btn-box-shadow-active);
    }
  }

  &.not-found {
    font-size: 20px;
    row-gap: 15px;

    .heart {
      height: 100px;
      width: 100px;
    }
  }

  &.flipped {
    .front {
      display: none;
    }
    .back {
      display: flex;
    }
  }
}

.kanji-characters {
  display: flex;
  align-items: center;
  column-gap: 20px;
  font-size: clamp(80px, 25vw, 180px);
  line-height: 1.2;
  align-content: center;
}

.title {
  font-size: clamp(150px, 25vw, 300px);
  line-height: 1.2;
}

.kanji-stroke {
  font-family: var(--font-kanji-stroke-orders);
}

.kanji-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 15px;
  font-size: 18px;

  .dt {
    text-align: right;
    padding-right: 15px;
    border-right: 1px solid hsl(from var(--foreground) h s l / 0.25);
  }
  .dd {
    text-align: left;
    padding-left: 15px;
  }
  .common-words {
    display: flex;
    flex-wrap: wrap;
    row-gap: 5px;
  }
  .word:before {
    content: "•";
    margin-right: 10px;
    font-weight: 700;
  }

  @media (max-width: 480px) {
    grid-template-columns: 1fr 2fr;
  }
}